{% extends "base.html" %}

{% block head%}
<link href="../static/css/pricing.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
My Account
{% endblock %}

{% block content %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<br><br><br>


<div class="container marketing">
  <center>
    <div class='box-shadow'>
      <br><br>
      <img class="rounded-circle" src="../static/images/queenie.jpg" alt="pfp" width="140" height="140">
      <br><br>
      <h1 id='dark'>Queenie Xiang {{name}}</h1><br>

      <div class="container">
        <div class="card-deck text-center" style='width: 300px;'>
          <div class="card mb-4 box-shadow" style='position: right;'>
            <div class="card-header">
              <b>Username:</b> @qxiang {{username}}
            </div>
            <div class="card-header">
              <b>Age:</b> 17 years old
            </div>
            <div class="card-header">
              <b>Date Joined:</b> 04/07/2018 {{date_joined}}
            </div>
            <div class="card-header">
              <b>Location:</b> 10282 {{zipcode}}
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow" style='background-color: rgba(255, 46, 77, 0.3);'>
            <div class="card-header">
              <br>
              <h2 class="display-5" style='color: white;'>Queenie and Kyle's Plant</h2>
            </div>
            <div class="card-body">
              <p class="lead">Total Plant Points: 13 {{points}}</p>
              <img class="card-img-top" src="../static/images/daisy.svg" alt="Card image cap" style='width: 150px; height: 200px'>
              <!--canvas></canvas-->
              <br><br>
              <a href="/account" class="btn btn-lg btn-block pull-bottom btn-primary box-shadow" aria-label="Keep Browsing"; id='button3'>
                Keep Browsing!
              </a>
            </div>
          </div>

          <div class="card mb-4 box-shadow bg-light">
            <div class="card-header">
              <br>
              <h2 class="display-5" id='light'>Questionnaire Results</h2>
            </div>
            <div class="card-body">
              <p><b>Time of Day:</b> Night</p>
              <p><b>Indoors/Outdoors:</b> Outdoors</p>
              <p><b>Favorite Location:</b> Beach</p>
              <p><b>Favorite Cuisine:</b> Italian</p>
              <p><b>City/Suburbia:</b> City</p>
              <p><b>Characteristic that Best Describes Us:</b> Adventurous</p>
              <p><b>Favorite Music Genre:</b> Pop and Hip Hop</p>
              <a href="/account" class="btn btn-lg btn-block btn-primary box-shadow" aria-label="Keep Browsing"; id='button3'>
                Retake the Questionnaire
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card-deck mb-3 text-center">

          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <br>
              <h2 class="display-5" id='dark'>Recent Dates</h2>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th style='width: 10%;'>Date</th>
                      <th style='width: 25%;'>Activity</th>
                      <th style='width: 15%;'>Plant Points</th>
                      <th>Review</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>5/27/18</td>
                      <td>Ice Skating</td>
                      <td>5</td>
                      <td>
                        This is a website through which users can plan dates with their significant others, as well as functioning as a diary of sorts through which they can look through old dates. Upon creating an account, users will answer certain questions concerning how they enjoy spending their time, and we will use this data, along with the Eventbrite API to curate a homescreen with suggestions for potential date spots. Users are able to request information about a specific kind of event/action (like dinner, concert, etc), and the site will return a list of suggestions about where to find such activity. Once a user decides they would like to plan a given event for a date, they can select it to add onto their agenda. Once the date comes to pass, the user can upload pictures from that day or write a bit about how the date went.
                        <p><a class="btn btn-secondary" href="#" role="button" id='button2'>Edit Review &raquo;</a></p>

                      </td>

                    </tr>
                    <tr>
                      <td>5/13</td>
                      <td>Kung Fu Tea</td>
                      <td>2</td>
                      <td>
                        <p><a class="btn btn-secondary" href="#" role="button" id='button2'>Edit Review &raquo;</a></p>
                      </td>
                    </tr>
                    <tr>
                      <td>4/30</td>
                      <td>Picnic</td>
                      <td>6</td>
                      <td>
                        <p><a class="btn btn-secondary" href="#" role="button" id='button2'>Edit Review &raquo;</a></p>
                      </td>
                    </tr>

                    {% for date_entry in dates %}
                    <tr>
                      {% for entry in date_entry %}
                         <td>
                          {{entry}}
                        </td>
                      {% endfor %}
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


  </center>


</div>
<hr class="featurette-divider">









<!-- /.container -->

{% endblock %}
