{% extends "base.html" %}

{% block head %}
<link href="../static/css/album.css" rel="stylesheet" type='text/css'>
{% endblock %}


{% block title %}
New User Sign Up! <Br>
{% endblock %}


{% block content %}

<center>
  <h1>
    New User Sign Up!
  </h1>
  <br><br>
  
  <blockquote>
  <p> ~~ Let us always meet each other with smile, for the smile is the beginning of love ~~ </p>
  --Mother Teresa 
</blockquote>

<form action="/auth" method="post">
  <form class="form-horizontal">

    <div class="form-group">
      <label for="inputFirstName" class="col-sm-2 control-label" name="input_FirstName">First Name</label>
      <div class="col-sm-10">
	<input type="text" class="form-control" id="inputFirstName" placeholder="John">
      </div>
    </div>


    <div class="form-group">
      <label for="inputLastName" class="col-sm-2 control-label" name="input_LastName">Last Name</label>
      <div class="col-sm-10">
	<input type="text" class="form-control" id="inputLastName" placeholder="Smith">
      </div>
    </div>
    
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label" name="input_email">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" placeholder="johnsmith@gmail.com">
    </div>
  </div>

  <div class="form-group">
      <label for="inputUsername" class="col-sm-2 control-label" name="input_username">Username</label>
      <div class="col-sm-10">
	<input type="text" class="form-control" id="inputUsername" placeholder="JohnSmith101">
      </div>
    </div>

  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  g
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign Up</button>
    </div>
  </div>
</form>
</form>

{% endblock %}
</center>
